<html data-ng-app="disc">
    <!DOCTYPE html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js" type="text/javascript"></script>

        <!-- modules -->
        <script src="js/components/ajax/ajax.module.js"></script>
        <script src="js/disc.module.js"></script>
        <script src="js/components/start/start.module.js"></script>
        <script src="js/components/questions/question.module.js"></script>
        <script src="js/components/answers/answers.module.js"></script>
        <script src="js/views/results/results.module.js"></script>
        <script src="js/views/home/home.module.js"></script>

        <!-- configs -->
        <script src="js/disc.config.js"></script>

        <!-- outros -->

        <script src="js/components/start/start.run.js"></script>
        <script src="js/components/start/start.model.js"></script>
        <script src="js/components/ajax/ajax.model.js"></script>
        <script src="js/index.controller.js"></script>
        <script src="js/components/answers/answers.model.js"></script>
        <script src="js/components/answers/answers.constant.js"></script>
        <script src="js/views/home/home.state.js"></script>
        <script src="js/views/home/home.controller.js"></script>
        <script src="js/components/answers/answers.repository.js"></script>
        <script src="js/views/results/results.state.js"></script>
        <script src="js/views/results/results.controller.js"></script>
        <script src="js/components/questions/question-api.model.js"></script>
        <script src="js/components/questions/question-adapter.model.js"></script>
        <script src="js/components/questions/question-state.model.js"></script>
        <script src="js/components/questions/question.states.js"></script>
        <script src="js/components/questions/questions.repository.js"></script>
        <script src="js/components/questions/question.controller.js"></script>
        <title>Teste DISC</title>
    </head>
    <body data-ng-controller="IndexController as vc">
        <div data-ng-if="vc.start.isLoading">
            Carregando...
        </div>
        <ui-view data-ng-if="vc.start.isLoading === false"></ui-view>
    </body>
</html>